<div>
  <div class="imagen">
    <img src="{{ mesa.imagen_presentacion }}" alt="{{ mesa.nombre }}" />
    <h2>Mesa para {{ mesa.personasMax }}</h2>
    <h4>
      Mesa calidad {{ mesa.calidad }} para hasta {{ mesa.personasMax }} pesonas
    </h4>
  </div>
</div>
<div class="card text-center">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">Descripción</h5>
    <p class="card-text">
      {{ mesa.descripcion }}
    </p>
    <button (click)="httpPost()" class="btn btn-block btn-warning">
      Reservar
    </button>
  </div>
  <div class="card-footer text-muted"></div>
</div>
