<section class="row mt-5">
  <div class="col">
    <button
      class="btn btn-success float-right mb-3 agregar"
      data-toggle="modal"
      data-target="#modalMesa"
    >
      Registrar Mesa
    </button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Calidad</th>
          <th scope="col">Personas maximo</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Reservada</th>
          <th scope="col">Reservada Por</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mesa of mesas | filter: filterPost; index as i">
          <!-- <th scope="row">{{ i + 1 }}</th> -->
          <th scope="row">{{ mesa.codigo }}</th>
          <td>{{ mesa.calidad }}</td>
          <td>{{ mesa.personasMax }}</td>
          <td>{{ mesa.descripcion.substring(0, 30) }}...</td>
          <td>{{ mesa.reservada }}</td>
          <td>{{ mesa.reservadaPor }}</td>
          <td *ngIf="mesa.correo_registro == userCorreo; else noOwner">
            <button
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#modalMesa"
              (click)="onPreUpdateMesa(mesa)"
            >
              Modificar
            </button>
          </td>
          <td *ngIf="mesa.correo_registro == userCorreo; else noOwner2">
            <button
              class="btn btn-danger"
              (click)="onDeleteMesa(mesa.Id)"
            >
              Eliminar Mesa
            </button>
          </td>
          <ng-template #noOwner>
            <td>
              <button class="btn btn-secondary" disabled="true">
                Modificar
              </button>
            </td>
          </ng-template>
          <ng-template #noOwner2>
            <td>
              <button class="btn btn-danger" disabled="true">
                Eliminar Mesa
              </button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<app-modalmesas></app-modalmesas>
