<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="jumbotron text-center">
      <h1>Contacto</h1>
    </div>
      <div id="about" class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h2>Llamanos</h2>
          <br />
          <h4>
            Para poder reservar tu mesa, contactanos a nuestros telefonos y con gusto te atenderemos:
            Telefonos de contacto: 
            Matriz: 311 192 29 19
          </h4>
          <br />
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-signal logo"></span>
          <img class="responsive-img" src="../../../../assets/Google_Contacts_logo.png" alt="" />
        </div>
      </div>
    </div>
  
    <div class="container-fluid bg-grey">
      <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-globe logo slideanim"></span>
        </div>
    
      </div>
    </div>
  </body>