<div class="jumbotron text-center">
  <h1>Mesas</h1>
  <p class="eslogan">
    Te ofrecemos un servicio selecto, el cual podras acceder al reservar con nosotros
  </p>
</div>
<section id="mesas" class="mt-4">
  <div class="container">
    <div class="row">
      <div
        class="col-xs-12 col-sm-6 col-md-4"
        *ngFor="
          let mesa of mesas
        "
      >
        <div class="card_book">
          <div class="card text-black bg-light">
            <img
              class="card-img-top"
              src="{{ mesa.imagen_presentacion }}"
              alt="{{ mesa.codigo }}"
            />
            <div class="card-img-overlay">
              <p class="badge badge-warning">
                {{ mesa.codigo }}
              </p>
            </div>
            <p class="badge badge-warning">
              Calidad: <strong>{{ mesa.calidad }}</strong>
            </p>
            <div class="card-body text-center">
              <h4 class="card-title">
                Mesa para {{mesa.personasMax}}
              </h4>
              <p class="card-text">
                {{ mesa.descripcion }}
              </p>
              <button
              [routerLink]="['/contacto']"
              class="btn btn-success">
                Reservar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="card text-center">
  <div class="card-header">
    FiFood
  </div>
  <div class="card-body">
    <h5 class="card-title">¿No encontraste lo que buscabas?</h5>
    <p class="card-text">
      Tenemos mas opciones para ti, solo comunicate y nosotros
      hacemos el resto.
    </p>
    <a href="#" class="btn btn-dark" routerLink="/contacto">Agendar cita</a>
  </div>
</div>
